ASPNETCORE_ENVIRONMENT=Development
CONNECTION_STRING="Host=hostname_or_ip;Port=5432;Database=database_name;Username=username;Password=your_password;SSL Mode=Disable"
REDIS_CONNECTION_STRING=hostname_or_ip:6379

# INSERT SYSTEM ADMIN ACCOUTNS USING THIS NOTATION
# THESE ARE USED IN A PRODUCTION ENVIRONMENT
# WHERE THE appsettings.Development.json FILE WILL NOT BE LOADED
DEFAULTUSERS__SYSTEMADMINS__0__FIRSTNAME=John
DEFAULTUSERS__SYSTEMADMINS__0__LASTNAME=Doe
DEFAULTUSERS__SYSTEMADMINS__0__EMAIL=john@prod.com
DEFAULTUSERS__SYSTEMADMINS__0__PASSWORD=SecureProdPass123!

DEFAULTUSERS__SYSTEMADMINS__1__FIRSTNAME=John
DEFAULTUSERS__SYSTEMADMINS__1__LASTNAME=Doe
DEFAULTUSERS__SYSTEMADMINS__1__EMAIL=john@prod.com
DEFAULTUSERS__SYSTEMADMINS__1__PASSWORD=SecureProdPass123!

DEFAULTUSERS__SYSTEMADMINS__2__FIRSTNAME=John
DEFAULTUSERS__SYSTEMADMINS__2__LASTNAME=Doe
DEFAULTUSERS__SYSTEMADMINS__2__EMAIL=john@prod.com
DEFAULTUSERS__SYSTEMADMINS__2__PASSWORD=SecureProdPass123!

JWT_SECRET_KEY=aaa
JWT_ISSUER=aaa
JWT_AUDIENCE=aaa
JWT_ACCESS_MINUTES_EXPIRY=15
JWT_REFRESH_DAYS_EXPIRY=30